<h1>Pirates</h1>

<ul>
  {{#each pirates}}
  <!-- <a href="/pirates/{{@index}}">{{name}}</a> -->
  <li>{{name}}</li>
    <br>
  {{/each}}

</ul>
<!-- {{#each pirates}}
  <li>name: {{name}}</li>
  <li>birthplace: {{birthplace}}</li>
  <li>death_year: {{death_year}}</li>
  <li>base: {{base}}</li>
  <li>nickname: {{nickname}}</li>
  {{/each}} -->
