<!DOCTYPE html>
<html>
<head>
  <title>{{pirate.name}}</title>
</head>
<body>
 <ul>
    <li>name: {{pirate.name}}</li>
    <li>birthplace: {{pirate.birthplace}}</li>
    <li>death_year: {{pirate.death_year}}</li>
    <li>base: {{pirate.base}}</li>
    <li>nickname: {{pirate.nickname}}</li>
 </ul>

</body>
</html>
